html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(31, 88, 211, 0.75), rgba(172, 199, 246, 0.5));
  background-size: cover;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  
  
}


.inputfile {
  width: 30px;
  height: 100px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: red;
}